<div class="row ">
	<div class="col s12">
		<a class="waves-effect btn-flat  light-green lighten-5" href="#!Candidatos">
			<i class="material-icons left">arrow_back</i>
		</a>
	</div>
	<div class="col s12">
		<h5>
			<span translate="FORM_CANDIDATO"></span>
			<span>-</span>
			<span ng-show="!loading.carregando && objSelecionado.id == 0" translate="FORM_CADASTRAR"></span>
			<span ng-show="!loading.carregando && objSelecionado.id > 0" translate="FORM_EDITAR"></span>
		</h5>
	</div>
</div>

<div class="progress" ng-show="loading.carregando">
  	<div class="indeterminate"></div>
</div>

<form  ng-show="!loading.carregando">

	<div class="row">
		<div class="col s12 m6">
            <label translate="FORM_LINGUAGEM"></label>
            <select class="browser-default" ng-options="linguagem as linguagem.key for linguagem in linguagens track by linguagem.value" ng-model="linguagem.selecionada" ng-change="onChangeLinguagem()">
            </select>
      	</div>
	</div>

	<div class="row" ng-show="objSelecionado.id > 0">
 		<div class="input-field col s12">
	        <input disabled="" value="{{objSelecionado.id}}" id="disabled" type="text" class="validate">
	        <label for="disabled" class="active">ID</label>
      	</div>
	</div>

	
	<div class="row">
	  <div class="input-field col s6">
        <input 	placeholder="{{ 'FORM_NOME' | translate }}" id="txtNomeCompleto" type="text" class="validate" 
        		required="" ng-model="objSelecionado.nomeCompleto">
        <label for="txtNomeCompleto" class="active"> {{ 'FORM_NOME' | translate}} *</label>
      </div>
      <div class="input-field col s6">
        <input 	placeholder="Email" id="txtEmail" type="email" class="validate" 
        		required="" ng-model="objSelecionado.email">
        <label for="txtEmail" class="active">Email </label>
      </div>
	</div>

	<div class="row">
		<div class="input-field col s4">
			<input 	placeholder="{{ 'FORM_TELEFONE' | translate}}" id="txtTelefone" type="text" 
					required class="validate" ng-model="objSelecionado.phone">
			<label for="txtTelefone" class="active">{{ 'FORM_TELEFONE' | translate}} *</label>
		</div>
		<div class="input-field col s4">
			<input 	placeholder="Skype" id="txtSkype" type="text" class="validate" ng-model="objSelecionado.skype">
			<label for="txtSkype" class="active">Skype</label>
		</div>
		<div class="input-field col s4">
			<input 	placeholder="LinkedIn" id="txtLinkedIn" type="text" class="validate" ng-model="objSelecionado.linkedIn">
			<label for="txtLinkedIn" class="active">LinkedIn</label>
		</div>
	</div>

	<div class="row">
	  <div class="input-field col s6">
        <input 	placeholder="{{ 'FORM_CIDADE' | translate}}" id="txtCidade" type="text" class="validate" ng-model="objSelecionado.cidade">
        <label for="txtCidade" class="active">{{ 'FORM_CIDADE' | translate}} *</label>
      </div>
      <div class="input-field col s6">
        <input 	placeholder="{{ 'FORM_ESTADO' | translate}}" id="txtEstado" type="text" 
        		required class="validate" ng-model="objSelecionado.estado">
        <label for="txtEstado" class="active">{{ 'FORM_ESTADO' | translate}} *</label>
      </div>
	</div>

	<div class="row">
	  <div class="input-field col s12">
        <input 	placeholder="{{ 'FORM_PORTIFOLIO' | translate}}" id="txtPortfolio" type="text" class="validate" ng-model="objSelecionado.portfolio">
        <label for="txtPortfolio" class="active">{{ 'FORM_PORTIFOLIO' | translate}}</label>
      </div>
	</div>

	<div class="row">
		<div class="input-field col s12 h6" translate="FORM_Q1"></div>

		<div class="input-field col s12 m-t-0">
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.horasAteQuatro" />
		        <span translate="FORM_Q1_ATE4"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.horasQuatroASeis" />
		        <span translate="FORM_Q1_ATE6"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.horasSeisAOito" />
		        <span translate="FORM_Q1_ATE8"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.horasAcimaDeOito" />
		        <span translate="FORM_Q1_MAIS8"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.horasFimDeSemana" />
		        <span translate="FORM_Q1_SOFDS"></span>
		      </label>
		    </p>
	    </div>
	</div>


	<div class="row">
		<div class="input-field col s12 h6" translate="FORM_Q2"></div>

		<div class="input-field col s12 m-t-0">
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.periodoManha" />
		        <span translate="FORM_Q2_MANHA"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.periodoTarde" />
		        <span translate="FORM_Q2_TARDE"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.periodoNoite" />
		        <span translate="FORM_Q2_NOITE"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.periodoMadrugada" />
		        <span translate="FORM_Q2_MADRUDAGA"></span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input type="checkbox" ng-model="objSelecionado.periodoComercial" />
		        <span translate="FORM_Q2_COMERCIAL"></span>
		      </label>
		    </p>
	    </div>
	</div>

	<div class="row">
		<div class="input-field col s12 h6 m-b-0" translate="FORM_Q3_SALARIO"></div>
	 	<div class="input-field col s2 m-t-0">
        	<input 	type="number" class="validate" required="" ng-model="objSelecionado.pretensaoSalario">
      	</div>
	</div>


	<div class="row">
		<div class="col s12" translate="FORM_Q4_CONHECIMENTOS"></div>
	</div>


<div class="progress" ng-show="loading.conhecimentos">
  	<div class="indeterminate"></div>
</div>

	<div ng-repeat="item in objSelecionado.conhecimentos | orderBy:'conhecimento.descricao'">
		<div class="row m-b-0">
			<div class="input-field col s12 h6 m-b-0">
				{{item.conhecimento.descricao}} 
				<span class="relative grey-text text-lighten-1" for="name_range_{{$index}}">
					- 
					<span ng-show="item.valor == 0" translate="FORM_NAO_CONHECO"></span>
					<span ng-show="item.valor == 1">Junior 1</span>
					<span ng-show="item.valor == 2">Junior 2</span>
					<span ng-show="item.valor == 3">Pleno 1</span>
					<span ng-show="item.valor == 4">Pleno 2</span>
					<span ng-show="item.valor == 5">Senior</span>
					
				</span>
			</div>
		</div>
		<div class="row m-t-0">
			<div class="input-field col s9 m-t-0 p-t-20">
		  		<input 	class="m-b-0" 
		  				type="range" id="id_range_{{$index}}" name="name_range_{{$index}}" min="0" max="5" 
		  				ng-model="item.valor">

			</div>
			<div class="input-field col s2">
				<input class="center-align" type="number" max="5" min="0" ng-model="item.valor">
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col s12" translate="FORM_Q5_OUTROS"></div>
		<div class="input-field col s12 m-t-0">
        	<input 	type="text" class="validate" ng-model="objSelecionado.conhecimentoOutros">
      	</div>
	</div>

 	<blockquote translate="FORM_Q6_CRUD">
    </blockquote>

	<div class="row">
	  <div class="input-field col s12">
        <input 	placeholder="Portfolio" id="txtLinkCRUD" type="text" class="validate" ng-model="objSelecionado.linkCRUD">
        <label for="txtLinkCRUD" class="active">Link CRUD</label>
      </div>
	</div>

    <blockquote translate="FORM_Q7_TUTORIAS">
    </blockquote>

    <p class="h6">
    	<a href="https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM" target="_blank">Welcome Easy - DOC</a>
    </p>



	<div class="row">
	  	<div class="input-field col s12 right-align">
			<a class="waves-effect waves-light btn" ng-click="salvar()" ng-show="!loading.salvando">Salvar</a>

			<div class="progress" ng-show="loading.salvando">
			  	<div class="indeterminate"></div>
			</div>
		</div>
	</div>


</form>